body {
padding: 0%;
margin: 0%;
font-family: 'Nanum Gothic', sans-serif;
background: #1F1F1F;
background-size: 6000% 100%;
}

header {
background-color: #26282c;
 margin: 0%;
padding: 0%;
padding-left: 2%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-start;
padding-bottom: 10px;
}

#title {
    text-align: center;
    color: #199fff;
    cursor: normal;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-width: 4px;
    border-radius: 30px;
    border-style:solid;
    border-color:#199fff;
  }

#serverh4 {
    color: #e90c59;
    font-size: 24px;
    text-align: center;
}

#serverload {
display:block;
margin:auto;
}
p {
color: white;
font-size: 16px;
}

.home_div {
margin-top: 10px;
padding-right: 2%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.home_div p a {
    text-decoration: none;
    border-radius: 5px;
    padding: 0.2cm;
    color: #F5F5F5;
    font-size: 18px;
    border: 2px solid #F5F5F5;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s
}

.home_div p a:hover {
    background-color: #F5F5F5;
    color: #26282c;
    text-decoration: none;
    border: 2px solid #F5F5F5;
    border-radius: 20px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s
}

.leave_div {
    margin-top: 1%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
}

.leave_div p a {
    text-decoration: none;
    border-radius: 5px;
    padding: 0.2cm;
    color: red;
    font-size: 18px;
    border: 2px solid red;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    margin-left: 4px;
}

.leave_div p a:hover {
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid red;
    border-radius: 20px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s
}

.creation_form_div {
    padding: 1em;
    border-radius: 20px;
    margin: auto;
    margin-top: 5em;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.61);
}

* {box-sizing: border-box}

input[type=text], input[type=date], input[type=number] , #type {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 20px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=date]:focus, input[type=number]:focus, #type:hover {
    background-color: #ddd;
    outline: none;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }

  button:hover {
    opacity:1;
    background-color: #39773b;
  }

#account_button a {
    text-decoration: none;
    border-radius: 5px;
    padding: 0.2cm;
    color: #F5F5F5;
    font-size: 18px;
    border: 2px solid #F5F5F5;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s
}

#account_button a:hover {
    background-color: #F5F5F5;
    color: #26282c;
    text-decoration: none;
    border: 2px solid #F5F5F5;
    border-radius: 20px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s
}